<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add hairstyle</title>
</head>
<body>
    <h2>Add Hairstyle</h2>
    <form method="POST">
        Name: <input type="text" name="name" required><br>
        Description: <textarea name="description" required></textarea><br>
        Duration (in minutes): <input type="number" name="duration" required><br>
        Price: <input type="number" name="price" step="0.1" required><br>
        <button type="submit">Add Hairstyle</button>
    </form>


    <p><a href="/">Back to the products list</a></p>

</body>
</html>