<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hairstyles</title>
</head>
<body>
    <h1>Hairstyles</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        {% for hairstyle in hairstyles %}
        <tr>
            <td>{{ hairstyle.name }}</td>
            <td>{{ hairstyle.price }}</td>
            <td>{{ hairstyle.description }}</td>
            <td>
                <a href="{{ url_for('delete_hairstyle', id=hairstyle.id) }}" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
            <td>
                <a href="{{ url_for('edit_hairstyle', id=hairstyle.id) }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="add">
        <a href="{{ url_for('add_hairstyle') }}", class="add-btn">Add a New Hairstyle</a>
    </div>


    <div>
        <a href="{{ url_for('index') }}">Back to Home</a>
        <p>Page {{ pagination.page }} of {{ pagination.pages }}</p>
    </div>

</body>
</html>
